
:root[data-theme='dark'] {
    --background-color: #121212 ;
    --deep-background-color: #101010;
    --text-color: #ffffff ;
    --accent-color: #D76F30;
}

:root[data-theme='light'] {
    --background-color: #fdfdfd;
    --deep-background-color: #f3f3f3;
    --text-color: #121212;
    --accent-color: #D76F30;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

.navbar-brand {
    color: var(--text-color);
}

.about_container {
    background-color: var(--deep-background-color);
    border: 1px solid var(--accent-color);
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
}

.about_container h1 {
    color: var(--text-color);
    font-size: 22px;
}

.about_container p {
    color: var(--text-color);
    font-size: 18px;
}

.about_container a {
    color: var(--accent-color);
    font-size: 18px;
    text-decoration: none;
}

.about_container a:hover {
    color: var(--text-color);
}

.about_container span {
    color: var(--accent-color);
}