
:root {
    --background-color: #121212 ;
    --deep-background-color: #101010;
    --text-color: #ffffff ;
    --accent-color: #D76F30;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

.navbar-brand {
    color: var(--text-color);
}

.navbar-text a {
    color: var(--text-color);
    font-size: 18px;
    text-decoration: none;
}

.navbar-text a:hover {
    color: var(--accent-color);
}

.quotes_card {
    background-color: var(--deep-background-color);
    background-color: var(--deep-background-color);
    border: 1px solid var(--accent-color);
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    transition: all 0.4s ease-in-out;
    z-index: 1;
}

.quotes_card h2 {
    color: var(--text-color);
    font-size: 22px;
}

.quotes_card p {
    margin: 1px;
    color: var(--text-color);
    font-size: 14px;
}

.about_info {
    margin-top: 10px;
} 