<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>fanbase - о нас</title>

        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/bootstrap.css') }}">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/icons.css') }}">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/about.css') }}">
    </head>

    <body>

        <nav class="navbar">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <i class="bi bi-people-fill"></i>
                    Fanbase
                </a>
            </div>
            
        </nav>
        
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>О нас</h1>
                    <p>
                        Fanbase — это веб-сайт, предназначенный для сбора и каталогизации цитат от преподавателей, 
                        профессоров, лекторов и других авторитетных фигур в образовательной сфере. 
                        Целью проекта является создание архива мудрых высказываний, 
                        вдохновляющих историй и полезных советов, которые могут быть использованы студентами, 
                        преподавателями и всеми, кто интересуется образованием.
                    </p>
                    <a href="https://github.com/Fazzyt/fanbase">
                        <i class="bi bi-archive"></i>
                        Проект
                    </a>
                </div>
            </div>  
        </div>   
    </body>

</html>