<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>fanbase</title>

        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/bootstrap.css') }}">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/icons.css') }}">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/index.css') }}">
    </head>

    <body>

        <nav class="navbar">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <i class="bi bi-people-fill"></i>
                    Fanbase
                </a>

                <input 
                    type="text"
                    class="search" 
                    id="search" 
                    placeholder="Найти..." 
                    onkeyup="searchFunction()">

                <div class="navbar-text">
                    <button class="btn btn-primary" id="theme-toggle">
                        <i class="bi bi-moon"></i>
                    </button>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#create_person">
                        <i class="bi bi-chat-left-text"></i>
                        Сделать цитируемого
                    </button>
                </div>
            </div>
            
        </nav>

        <div class="modal fade" id="create_person" tabindex="-1" aria-labelledby="create_personLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="create_personLabel">Создание цитируемого</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <form action="/" method="post">
                    <div class="modal-body">
                        <label for="full_name">ФИО цитируемого:</label>
                        <input
                            type="text"
                            name="full_name" 
                            id="full_name" 
                            class="form-control"
                            required>
                    </div>

                    <div class="modal-footer">
                        <input type="submit" value="Создать" class="btn btn-primary">
                    </div>
                </form>
              </div>
            </div>
          </div>


        <div class="container">
            <div class="row">
                {% for person in person_list %}
                    <a href="/{{person.full_name}}">
                        <div class="col-md-8">
                            <div class="card">
                                <h3 class="people">{{ person.full_name|e }}</h3>
                                <p class="text-start">
                                    <span><i class="bi bi-journals"></i></span> 
                                    <b>Количество цитат: <span>{{ person.quote_count }}</span></b>
                                </p>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>  
        </div>

        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <h1>
                            <i class="bi bi-journals"></i>
                            О нас:
                        </h1>
                        <p>
                            Fanbase — сайт для цитат и советов от образовательных авторитетов.
                        </p>
                        Узнать больше: <a href="/about">Ссылка</a>
                    </div>
                    <div class="col-md-3">
                        <h1>Другие наши проекты:</h1>
                        <ul>
                            <li><a href="#">soon</a></li>
                            <li><a href="#">soon</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <h1>Copyright:</h1>
                        <p>&copy;fanbase 2024</p>
                    </div>
                </div>
            </div>
        </footer>

        <script src="{{ url_for('static', filename='js/search.js') }}"></script>
        <script src="{{ url_for('static', filename='js/theme.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>

    </body>
</html>