<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>fanbase</title>

        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/bootstrap.css') }}">
    </head>

    <body>
        
        <div class="container">
            <h1>fanbase</h1>
            {% for person in person_list %} 
                <div>
                    <h3>{{ person.full_name|e }}</h3>
                    <a href="/{{person.full_name}}">посмотреть все цитаты</a>
                </div>
            {% endfor %}
        </div>
    
    </body>

</html>