<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>fanbase</title>

        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/bootstrap.css') }}">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/icons.css') }}">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/index.css') }}">
    </head>

    <body>

        <nav class="navbar">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <i class="bi bi-bookmark-star-fill"></i>
                    Fanbase
                </a>
                <div class="navbar-text">
                    <a href="/create_person">Сделать цитируемого</a>
                </div>
            </div>
            
        </nav>
        
        <div class="container">
            <div class="row">
                {% for person in person_list %} 
                    <div class="col-md-8">
                        <div class="card">
                            <h3>{{ person.full_name|e }}</h3>
                            <a href="/{{person.full_name}}">посмотреть все цитаты</a>
                            <p class="text-end"><b>{{ person.id }}</b></p>
                        </div>
                    </div>
                {% endfor %}
            </div>  
        </div>   
    </body>

</html>